/MyProject/nbproject/private/
/MyProject/build/
/Demo_JDBC/nbproject/private/
/PRJ301_Slot5/nbproject/private/
/PRJ301_Slot3/nbproject/private/
/PRJ301_Slot3/build/
/WS2/nbproject/private/
/WS2/build/
/YT_PE_SU23/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
