/MyProject/nbproject/private/
/MyProject/build/
/Demo_JDBC/nbproject/private/
/PRJ301_Slot5/nbproject/private/
/PRJ301_Slot3/nbproject/private/
/PRJ301_Slot3/build/
/WS2/nbproject/private/
/WS2/build/
/YT_PE_SU23/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Lap_1/nbproject/private/
/Lap_1/build/
/EX1/nbproject/private/
/EX1/build/
/Ex1_1/nbproject/private/
/Ex1_1/build/
/EX2/nbproject/private/
/MyProject/dist/
/EX2/build/
/EX2/dist/
/EX2_2/nbproject/private/
/EX2_2/build/
