<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>calcontroller</servlet-name>
        <servlet-class>controller.CalculationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AController</servlet-name>
        <servlet-class>controller.AController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BController</servlet-name>
        <servlet-class>controller.BController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollmentController</servlet-name>
        <servlet-class>controller.EnrollmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollmentView</servlet-name>
        <servlet-class>view.EnrollmentView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>controller.rect.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentController</servlet-name>
        <servlet-class>controller.student.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentController</servlet-name>
        <servlet-class>controller.student.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStudentController</servlet-name>
        <servlet-class>controller.student.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentController</servlet-name>
        <servlet-class>controller.student.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentController</servlet-name>
        <servlet-class>controller.student.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTableController</servlet-name>
        <servlet-class>controller.instructor.TimeTableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>calcontroller</servlet-name>
        <url-pattern>/cal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AController</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BController</servlet-name>
        <url-pattern>/b</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollmentController</servlet-name>
        <url-pattern>/enroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollmentView</servlet-name>
        <url-pattern>/view/enroll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/rect/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentController</servlet-name>
        <url-pattern>/student/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentController</servlet-name>
        <url-pattern>/student/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStudentController</servlet-name>
        <url-pattern>/student/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentController</servlet-name>
        <url-pattern>/student/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentController</servlet-name>
        <url-pattern>/student/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTableController</servlet-name>
        <url-pattern>/instructor/timetable</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
